<div class="gallery my-4">
  <div class="head col-md-8">
    <h2>{{title}}</h2>
    <a href="#" class="show">{{show}}</a>
  </div>
  <div class="content col-md-12 p-0">
    <div class="row no-gutters pb-2">
      <div class="main-image">
        <img class="big-image" src="/assets/img/placeholder.png" alt="placeholder">
        <div class="text">
          <h3>How to improve your skills</h3>
          <div class="bottom">
            <p class="sub">Waseem Arshad</p>
            <p class="views">187587 views</p>
          </div>
        </div>
      </div>
      <div class="col r-img">
        <app-sub-image></app-sub-image>
        <app-sub-image></app-sub-image>
      </div>
    </div>
    <div class="row no-gutters pr-md-2">
      <div class="col-md-12 b-img">
        <app-sub-image></app-sub-image>
        <app-sub-image></app-sub-image>
        <div class="upload-btn" (click)="fileInput.click()">
          <input #fileInput type="file" />
          <i class="fas fa-arrow-circle-up"></i>
          <div>
            <p class="upload-txt">
              Upload
            </p>
            <p class="upload-txt">
              Your Own Video
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
