
h2{
    color: #F4E3CF;
    font-size: 24px;
}
.head{
    padding-left: 0;
    padding-right: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.show{
    color: #F4E3CF;
}
.main-image{
    margin-bottom: 10px;
    margin-right: 10px;
    width: 470px;
    height: 350px;
    position: relative;
    color: #953E46;
    font-weight: bold;
    .big-image{
        width: 100%;
        height: 100%;
    }
    .text{
        width: 100%;
        padding: 10px;
        position: absolute;
        bottom: 0;
        .bottom{
            display: flex;
            justify-content: space-between;
        }
    }
    p{
        margin: 0px;
    }
    h3{
        font-size: 24px;
    }
}

.b-img{
    justify-content: space-between;
    padding-right: 25px;
}
