<div class="col-12 footer py-3 px-0">
    <div class="sosmed">
        <div class="sosmed-icon">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="sosmed-icon">
            <i class="fab fa-linkedin-in"></i>
        </div>
        <div class="sosmed-icon">
            <i class="fab fa-facebook-f"></i>
        </div>
    </div>
    <ul class="footer-menu">
        <li class="footer-menu-item">
            <a>About</a>
        </li>
        <li class="footer-menu-item">
            <a>For Business</a>
        </li>
        <li class="footer-menu-item">
            <a>Suggestions</a>
        </li>
        <li class="footer-menu-item">
            <a>Help & FAQs</a>
        </li>
        <li class="footer-menu-item">
            <a>Contacts</a>
        </li>
        <li class="footer-menu-item">
            <a>Pricing</a>
        </li>
    </ul>
    <p class="copyright">
        &copy; Copyright 2013 companyname inc.
    </p>
    <ul class="footer-menu mt-0">
        <li class="footer-menu-item">
            <a>Privacy</a>
        </li>
        <li class="footer-menu-item">
            <a>Terms</a>
        </li>
    </ul>
</div>
